<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="average"/>
    <add key="gauss5x5"/>
    <add key="gauss3x3"/>
    <add key="grey"/>
    <add key="sobelX"/>
    <add key="sobelY"/>
  </appSettings>
</configuration>